<% include partials/header %>

<h1>Landing pages!</h1>

<p>Welcome to YelpCamp</p>

<a href="/campgrounds">View all campgrounds</a>

<a href="/campgrounds/new">Create new campgrounds</a>

<% include partials/footer.ejs %>